<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ROCK PAPER SCISSOR</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style1.css')}}" />
    <div class="head">
      <h4>THE WINNER IS</h4>
    </div>
  </head>
  <body>
    <center>
      <h1>THE WINNER IS</h1>
    </center>
    <div class="container">
      <div class = "left block">
          <img src="https://thumbs.gfycat.com/UnconsciousWeeklyIslandcanary-size_restricted.gif" alt="" >
      </div>
  
      <div class = "mid">
        {% if hero==1 %}
          <div class="Player1">
            <center>
              <img src="https://i.pinimg.com/originals/e3/b4/09/e3b409d8220d6ca3955425565957879f.gif" alt="" width="500px">
            </center>    
          </div>
          {% elif hero==2 %}
          <div class="Player2">
            <center>
              <img src="https://media3.giphy.com/media/13Qumr2SLqrl5e/giphy.gif" alt="" width="500px">
            </center>
        </div>
        {% endif %}
      </div>
      
      <div class = "right block">
        <img src="https://thumbs.gfycat.com/UnconsciousWeeklyIslandcanary-size_restricted.gif" alt="" >
      </div>
    </div>   
  </body>
</html>

